:root {
  --color-black: 20, 20, 20;
  --color-white: 240, 240, 240;
  --color-offwhite: 250, 250, 250;
  --color-purple: 105, 54, 104;
  --color-pink: 145, 59, 113;
  --color-orange: 240, 100, 0;
}
html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: rgba(var(--color-black), 0.2);
}

h1,
h2,
pre {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 1.4rem;
  color: rgb(var(--color-purple));
  padding: 0.45rem 0;
}
h2 {
  font-size: 1.2rem;
  color: rgb(var(--color-pink));
  padding: 0.25rem 0;
}
pre {
  font-size: 0.85rem;
}
.header {
  background-color: rgb(var(--color-purple));
  padding: 0.25rem 0.65rem;
  box-shadow: 0 2px 4px 2px rgba(var(--color-black), 0.2);
}
.header > h1 {
  color: rgb(var(--color-white));
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1.4rem;
}
.author {
  font-size: 0.65rem;
  color: rgba(var(--color-white), 0.45);
}

.container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 1rem;
}
.container.d-flex {
  flex-wrap: wrap;
  align-items: flex-start;
}
.numbered {
  background-color: rgba(var(--color-orange), 0.8);
  color: rgb(var(--color-white));
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-bottom {
  border-bottom: 1px solid rgba(var(--color-purple), 0.1);
}
.mb-1 {
  margin-bottom: 0.5rem;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.gap-1 {
  gap: 0.8rem;
}
.gap-2 {
  gap: 1.2rem;
}

.grid-parent {
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}
.grid {
  grid-column: span 1;
  display: grid;
  gap: 1rem;
  align-items: start;
}
.col-block {
  background-color: rgb(var(--color-white), 0.8);
  padding: 0rem 0.45rem 1rem 0.45rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 4px rgba(var(--color-black), 0.15);
}
.col-block:hover {
  box-shadow: 0 6px 10px 4px rgba(var(--color-black), 0.4);
  transform: translateY(-1px);
}
.col-block:hover .numbered {
  background-color: rgb(var(--color-orange));
  font-size: 1.2rem;
}

.template-preview {
  border-radius: 0.45rem;
  padding: 0.45rem 0.6rem;
  background-color: rgba(var(--color-orange), 0.2);
}
.template-preview > pre {
  font-size: 0.65rem;
  line-height: 1.1rem;
}

#output {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}
#variablesContainer {
  margin-bottom: 0.45rem;
}
#variablesContainer label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 85%;
  color: rgb(var(--color-pink));
  font-weight: bold;
}
.textarea-variable {
  width: 100%;
  max-width: 100%;
  font-size: 0.85rem;
  padding: 0.45rem;
  border: 1px solid rgba(var(--color-black), 0.2);
  border-radius: 0.45rem;
  background-color: rgba(var(--color-offwhite), 1);
  box-sizing: border-box;
  display: block;
  resize: vertical;
  margin-bottom: 0.45rem;
  font-weight: 300;
}
.textarea-variable[disabled] {
  background-color: rgba(var(--color-black), 0.05);
}
.variable-presets {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: -0.2rem;
  margin-bottom: 0.45rem;
}
.variable-presets button {
  font-size: 0.65rem;
  letter-spacing: -0.025rem;
  padding: 0.15rem 0.25rem;
  border-radius: 0.45rem;
}
.variable-presets button:hover {
  background-color: rgba(var(--color-purple), 0.6);
}
#templateSelect {
  font-size: 0.85rem;
  border: 1px solid rgb(var(--color-black), 0.4);
}

@media (max-width: 380px) {
  .col {
    min-width: 100%;
  }
}

#output {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  line-height: 1.1rem;
  font-size: 0.85rem;
  border: 1px solid rgb(var(--color-black), 0.1);
  border-radius: 0.45rem;
  margin-bottom: 0.2rem;
  background-color: rgba(var(--color-purple), 0.1);
  padding: 0.25rem 0.45rem;
  font-weight: 300;
  color: rgb(var(--color-purple));
}
button {
  font-size: 0.85rem;
  padding: 0.25rem 0.65rem;
  border: 1px solid rgba(var(--color-black), 0.1);
  border-radius: 0.65rem;
  background-color: rgba(var(--color-black), 0.1);
  color: rgb(var(--color-black));
  cursor: pointer;
}
button:hover {
  background-color: rgb(var(--color-pink));
  color: rgb(var(--color-white));
}

#presetButtons {
  margin-top: 0rem;
  align-items: flex-start;
}
#presetButtons button {
  font-size: 0.65rem;
  letter-spacing: -0.025rem;
  padding: 0.15rem 0.25rem;
  border-radius: 0.45rem;
}
#presetButtons button:hover {
  cursor: pointer;
  background-color: rgba(var(--color-purple), 0.6);
}
